<footer class="footer has-cards">
  <div class="container">
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; 2018
          <a href="https://github.com/creativefls" target="_blank">CreativeFLS</a>.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="https://futureleadersummit.org" class="nav-link" target="_blank">Future Leader Summit</a>
          </li>
          <li class="nav-item">
            <a href="http://futureleadersummit.org/artikel" class="nav-link" target="_blank">Artikel</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
