<div class="container">
  <div class="content has-text-centered">
    <p>
       &copy;
      <script>document.write(new Date().getFullYear())</script>, made with
      <i class="fa fa-heart heart"></i> by CreativeFLS
    </p>
  </div>
</div>