<footer class="footer has-cards">
  <div class="container">
    <div class="row row-grid align-items-center my-md">
      <div class="col-lg-4">
        <h3 class="text-primary font-weight-light mb-2">Hubungi Kami</h3>
        <h6 class="mb-0 font-weight-light">
          <i class="fa fa-envelope"> info[at]futureleadersummit.org </i>
          <i class="fa fa-envelope"> futureleadersummit[at]gmail.com  </i>
          <i class="fa fa-phone">  0812 5252 9921 (Kiki) </i>
          <i class="fa fa-phone">  0815 5388 8080 (Alex) </i>
        </h6>
      </div>
      <div class="col-lg-4">
        <h3 class="text-primary font-weight-light mb-2">Tentang Kami</h3>
        <h4 class="mb-0 font-weight-light">Future Leader Summit (FLS) merupakan konferensi nasional pemuda tahunan yang digagas oleh Nusantara Muda sejak 2011. </h4>
      </div>
      <div class="col-lg-4 text-lg-center btn-wrapper">
        <a target="_blank" href="https://twitter.com/flsummit" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg"
          data-toggle="tooltip" data-original-title="Follow us">
          <i class="fa fa-twitter"></i>
        </a>
        <a target="_blank" href="https://www.facebook.com/FutureLeaderSummit" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg"
          data-toggle="tooltip" data-original-title="Like us">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a target="_blank" href="https://www.instagram.com/flsummit/" class="btn btn-neutral btn-icon-only btn-instagram btn-lg btn-round"
          data-toggle="tooltip" data-original-title="Follow us">
          <i class="fa fa-instagram"></i>
        </a>
        <a target="_blank" href="https://youtube.com/user/FLSummit" class="btn btn-neutral btn-icon-only btn-youtube btn-round btn-lg"
          data-toggle="tooltip" data-original-title="Watch us">
          <i class="fa fa-youtube-play"></i>
        </a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-12">
        <div class="copyright">
          &copy; 2018
          <a href="https://github.com/creativefls" target="_blank">CreativeFLS</a>.
        </div>
      {{!-- <div class="col-md-12">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
          </li>
          <li class="nav-item">
            <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
          </li>
          <li class="nav-item">
            <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/creativetimofficial/argon-design-system/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
          </li>
        </ul>
      </div> --}}
    </div>
  </div>
</footer>
