<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="https://user-images.githubusercontent.com/21119252/34459239-16407fee-ee1d-11e7-94c1-dc6446f962b0.png" alt="Logo">
      </a>
      <span class="navbar-burger burger" data-target="navbarMenuHeroA">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenuHeroA" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item">
          About
        </a>
      </div>
    </div>
  </div>
</nav>