
<section class="hero is-fullheight is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{{title}}</h1>
      <h2 class="subtitle">ini about {{title}}</h2>
    </div>
  </div>
</section>