<section class="hero is-fullheight is-primary">
  <div class="hero-head">
    {{> navbar }}
  </div>

  <div class="hero-body">
    <div class="container">
      <h1 class="title">{{title}}</h1>
      <h2 class="subtitle">Welcome to {{title}}</h2>
    </div>
  </div>
  
  <div class="hero-foot is-primary-dark">
    {{> footer }}
  </div>
</section>