<section class="hero is-fullheight is-primary">
  <div class="hero-head">
    {{> navbar }}
  </div>

  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="box">
            <h2 class="subtitle has-text-dark has-text-weight-semibold">Buat Akun {{title}}</h2>
            {{!-- ----- ini form ----- --}}
            <form action="">

              <div class="field">
                <label class="label">Nama Lengkap</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Nama Lengkap" required>
                </div>
              </div>

              <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" placeholder="Username" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="Email" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="password" placeholder="Password" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Confirm Password</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="password" placeholder="Confirm Password" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>

              <br>

              <div class="field is-grouped is-grouped-right">
                <div class="control">
                  <button class="button is-primary">Register</button>
                </div>
              </div>

            </form>
            {{!-- ----- sudah ini form ----- --}}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="hero-foot is-primary-dark">
    {{> footer }}
  </div>
</section>