<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section-shaped my-0">
      <div class="shape shape-style-1 shape-default shape-skew">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container shape-container d-flex">
        <div class="col px-0">
          <div class="row justify-content-center">
            {{!-- <div class="col-lg-6">
              <h1 class="display-3  text-white">Tagline
                <span>Nusantara Muda</span>
              </h1>
              <p class="lead  text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad nobis quisquam accusamus eius molestiae. Enim voluptatibus eaque totam voluptatem voluptas adipisci tenetur libero, incidunt illo.</p>
              <div class="btn-wrapper">
                <a href="https://demos.creative-tim.com/argon-design-system/docs/components/alerts.html" class="btn btn-info btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon">
                    <i class="fa fa-code"></i>
                  </span>
                  <span class="btn-inner--text">Components</span>
                </a>
                <a href="https://www.creative-tim.com/product/argon-design-system" class="btn btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon">
                    <i class="ni ni-cloud-download-95"></i>
                  </span>
                  <span class="btn-inner--text">Download HTML</span>
                </a>
              </div>
            </div> --}}
            <div class="col-lg-6">
              <div class="card bg-secondary shadow border-0">
                {{!-- <div class="card-header bg-white pb-5">
                  <div class="text-muted text-center mb-3">
                    <small>Sign up with</small>
                  </div>
                  <div class="text-center">
                    <a href="#" class="btn btn-neutral btn-icon">
                      <span class="btn-inner--icon">
                        <img src="/assets/img/icons/common/google.svg">
                      </span>
                      <span class="btn-inner--text">Google</span>
                    </a>
                  </div>
                </div> --}}
                <div class="card-body px-lg-5 py-lg-5">
                  <div class="text-center text-muted mb-4">
                    <img src="/assets/img/icon.png" alt="" style="height: 60px; max-width: 100%;">
                    <br>
                    <small>Sign up with credentials</small>
                  </div>

{{!-- form register --}}
                  <form role="form" method="POST" action="/api/auth/register">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <div class="form-group">
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="ni ni-hat-3"></i>
                          </span>
                        </div>
                        <input name="fullName" class="form-control" placeholder="Name" type="text">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="ni ni-email-83"></i>
                          </span>
                        </div>
                        <input name="email" class="form-control" placeholder="Email" type="email">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="ni ni-lock-circle-open"></i>
                          </span>
                        </div>
                        <input name="password" class="form-control" placeholder="Password" type="password">
                      </div>
                    </div>
                    {{!-- <div class="text-muted font-italic">
                      <small>password strength:
                        <span class="text-success font-weight-700">strong</span>
                      </small>
                    </div> --}}
                    {{!-- <div class="row my-4">
                      <div class="col-12">
                        <div class="custom-control custom-control-alternative custom-checkbox">
                          <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                          <label class="custom-control-label" for="customCheckRegister">
                            <span>I agree with the
                              <a href="#">Privacy Policy</a>
                            </span>
                          </label>
                        </div>
                      </div>
                    </div> --}}
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary mt-4">Create account</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
</main>
