<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section-shaped my-0">
      <div class="shape shape-style-1 shape-default shape-skew">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container shape-container d-flex">
        <div class="col px-0">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                  <div class="text-center text-muted mb-4">
                    <img src="/assets/img/icon.png" alt="" style="height: 60px; max-width: 100%;">
                    <br>
                    <small>Terima Kasih</small>
                  </div>
                  <p>
                    Akun baru berhasil didaftarkan <blockquote>{{ email }}</blockquote>
                  </p>
                  <p>
                    Silakan hubungi Petugas
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
</main>
